button {
    background-color: #feb404;
    width: 20vw;
    height: 5vh;
    border-radius: 5vh;
    margin: 2.5vh;
    font-size: 1rem;
}

button:hover {
    background-color: #feb404;
    opacity: 65%;
}

/* Tablets*/
@media screen and (max-width: 768px) {
    button {
        width: 40vw;
    }
}

/* Large Screen Mobiles*/
@media screen and (max-width: 624px) {
    button {
        width: 50vw;
    }
}

/* Small Screen Mobiles*/
@media screen and (max-width: 480px) {
    button {
        width: 60vw;
    }
}