.navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 4vh;
    margin: 3vh;
}

.links a {
    margin: 3vw;
    color: white;
    text-transform: uppercase;
    font-size: 1.5vh;
}

/* Large Screen Mobiles*/
@media screen and (max-width: 500px) {
    .navbar-container img {
        height: 3vh;
        margin: 1vh;
    }
    .navbar-container a {
        margin: 2vh;
    }
}

/* Small Screen Mobiles*/
@media screen and (max-width: 375px) {
    .navbar-container {
        flex-direction: column;
    }
    .navbar-container a {
        margin: 1vh;
    }
}