.navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 4vh;
    margin: 3vh;
}

.links a {
    margin: 2.5vw;
    color: white;
    text-transform: uppercase;
}

/* Tablets*/
@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }
}

/* Large Screen Mobiles*/
@media screen and (max-width: 624px) {
    /* .navbar-container {
        justify-content: stretch;
    } */

    .navbar-container img {
        height: 3vh;
        margin: 1vh;
    }
    .navbar-container a {
        margin: 1.5vw;
    }

    .links a {
        margin: 1vw;
    }
}

/* Small Screen Mobiles*/
@media screen and (max-width: 480px) {
    .navbar-container a {
        margin: 1vw;
    }

    .links a {
        margin: 0.75vw;
    }
}
