main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  background-color: black;
}

hr {
  background-color: #feb404;
  border-color: #feb404;
  width: 50%;
}

a {
  color: #feb404;
  text-decoration: none;
}

h1 {
  color: #feb404;
  text-transform: uppercase;
}

table {
  background-color: ;
}

th {
  width: 15%;
  border-bottom: 1px solid #feb404;
  text-transform: uppercase; 
  text-align: left;
  padding: 10px;
  margin: 0;
  overflow: hidden;
}

td {
  width: 35%;
  border-bottom: 0.25px solid #feb404;
  text-align: left;
}

.numbers {
  width: 20%;
}

.string {
  width: 25%;
}

tr:hover {
  background-color: #feb404;
}