* {
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat';
  line-height: 1;
  font-weight: 100;
  overflow: hidden;

  color-scheme: light dark;
  color: #feb404;
  background-color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: black;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
