* {
  box-sizing: border-box;
}

:root {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  line-height: 1;
  font-weight: 100;
  overflow-x: hidden;
  color-scheme: light dark;
  color: white;
  background-color: #121212;
}

main {
  background: linear-gradient(to top, #121212, 85%, #feb404)
}

a {
  text-decoration: none;
}

/* Large Screen Mobiles*/
@media screen and (max-width: 624px) {
  :root {
    font-size: 0.75rem;
  }
  main {
    background: linear-gradient(to top, #121212, 95%, #feb404)
  }
}


/* Small Screen Mobiles*/
@media screen and (max-width: 480px) {
  :root {
    font-size: 0.65rem;
  }
}
